#screen-signin {
  direction: rtl;
  height: 100%;
  overflow-y: auto;
  .signin-tabs {
    width: 100%;
    height: 40px;
    border-bottom: solid 2px #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    width: 100vw;
    right: calc(-17.5% - 40px);
    z-index: 2;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
      li {
        font-family: IRANSansWeb;
        font-weight: 400;
        font-size: 0.75rem;
        margin: 0 10px;
        padding: 5px 10px;
        border-radius: 5px;
        // background: rgba($color: #000000, $alpha: .05);
        &.active {
          background: black;
          color: #ffffff;
        }
      }
    }
  }
  .signin-tabs-body {
    width: 100%;
    padding-right: 15px;
    padding-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    .signin-tabs-body-inner {
      width: calc(100% - 30px);
      height: calc(100% - 40px);
      padding: 15px;
      display: none;
      padding-top: 60px;
      justify-content: center;
      &.active {
        display: flex;
      }
    }

    .sign-with-email {
      border: solid 1px rgba($color: #000000, $alpha: 0.5);
      background-color: #ffffff;
      color: black;
      text-align: center;
      span {
        font-size: 0.85rem;
      }
      i {
        position: relative;
        margin-left: 10px;
        top: 5px;
      }
    }
  }
}
