.loading-full {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h6 {
    position: relative;
    font-family: IranSansWeb;
    top: -84px;
    font-size: 1rem;
    font-weight: 300;
  }
}
