#side {
  position: absolute;
  width: 17.5%;
  height: calc(100% - 120px - 32px);
  right: 0;
  background: rgba($color: #ffffff, $alpha: 1);
  z-index: 2;
  direction: rtl;
  padding: 60px 0px;
  border-left: solid 2px #eaeaea;

  h5 {
    font-family: IRANSansWeb;
    font-weight: normal;
    font-size: 0.85rem;
    margin: 15px 30px 15px 0;
    opacity: 0.6;
  }
  #side-menu-app {
    margin-top: 15px;
    border-top: solid 2px #eaeaea;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        text-decoration: none;
        display: block;
        padding: 10px 30px;
        &:hover {
          background-color: rgba($color: #000, $alpha: 0.02);
        }
        i {
          color: #000000;
          font-size: 0.85rem;
          margin-left: 10px;
          position: relative;
          top: 1px;
          font-weight: lighter;
        }
        span {
          color: #000000;
          font-family: IRANSansWeb;
          font-weight: lighter;
          font-size: 0.85rem;
        }
      }
    }
  }
}
